@model IEnumerable<TestWebApplication.Models.ViewModels.Customer>

@foreach (var item in Model)
{
    <div class="card-header bg-white list-row">
        <div class="user-block">
            <a asp-action="Edit" asp-route-id="@item.CustomerID">
                <div class="circleImageText"
                 style="background-color: @(String.Format("#{0:X6}", new Random().Next(0X1000000))) !important">
                    @item.CustomerName.Substring(0,1).ToUpper()
                    @*@item.Name?.FirstOrDefault)*@
                </div>
                <div class="info-box-content">
                    <span class="username">@Html.DisplayFor(modelItem => item.CustomerName)</span>
                    <span class="description">@Html.DisplayFor(modelItem => item.CustomerAddress1)</span>
@*                    <a asp-action="Details" asp-route-id="@item.CustomerID"><span class="description2"><i>More Details</i></span></a>*@                
                </div>
            </a>
        </div>

        <div class="card-tools">
            <a asp-action="Details" asp-route-id="@item.CustomerID"><span class="description2"><i>More Details</i></span></a>
            <button type="button" class="btn btn-tool btnDelete" data-card-widget="remove" data-toggle="modal" data-target="#modal-delete-confirm" data-id="@item.CustomerID">
                <i class="fas fa-trash"></i>
            </button>
        </div>
</div>

}