@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model TestWebApplication.Models.ViewModels.Module
@{

    Layout = "_AdminLTE";
}@{
}

<html>
<head>
    
    <title>Create Module</title>
    
</head>
<body class="hold-transition sidebar-mini">
    <form asp-action="Create" method="post">
        <div class="wrapper">
            <!-- Content Wrapper. Contains page content -->
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                            <h1>Module Input</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="breadcrumb-item"><a asp-area="" asp-controller="Module" asp-action="Index">Index</a></li>
                                <li class="breadcrumb-item active">Module Input</li>
                                </ol>
                            </div>
                        </div>
                    </div><!-- /.container-fluid -->
                </section>

            @if (@ViewBag.msgList != null)
                @foreach (var msg in @ViewBag.msgList)
                {

                    {
                        <div class="alert alert-warning alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-warning"></i> Alert!</h4>
                            @msg.ToString()
                        </div>
                    }
                }

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- SELECT2 EXAMPLE -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Module Form</h3>
                            @*<div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
                            </div>*@
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Module Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="ModuleName" data-placeholder="Module Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Module Description</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="ModuleDesc" data-placeholder="Module Description">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Project Name</label>
                                <div class="col-sm-10">
                                    <select class="form-control" style="width: 100%;" name="ProjectID" asp-items="@(new SelectList(@ViewBag.ProjectList,"ProjectID","ProjectName"))">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>                 
                </div>
      
        <input type="hidden" name="CreatedBy" value="@User.Identity?.Name" />
        <input type="hidden" name="ModifiedBy" value="@User.Identity?.Name" />
            </section>
            <!-- /.content -->
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-info float-right">Save</button>
        </div>
        
    </form>
    

</body>
</html>