@model IEnumerable<TestWebApplication.Models.ViewModels.ItemQuotation>

<div class="row mb-2">
    <div class="col-sm-6" style="color: #169D53">
        <h4>Outstanding Value : @ViewBag.TotalAmount</h4>
    </div>
</div>


<table id="example1" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th style="display: none;">Item Id</th>
            <th>Quotation Type</th>
            <th>Item Name</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Remark</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="display: none;">@item.itemId</td>
                <td>@item.quotaion.QuotationType</td>
                <td>@item.item.ItemName</td>
                <td>@item.item.ItemDes</td>
                <td>@item.Amount</td>
                <td>@item.item.Remark</td>
            </tr>
        }
    </tbody>
</table>